// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body {
  font-family: 'Press Start 2P', monospace;
}

html, body {
  height: 100%;
  overflow: hidden;
}