<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (pokemon$ | async)?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="pokemon$ | async as pokemon; else loadingOrError">
    
    <app-pokemon-details-modal [pokemon]="pokemon" (close)="(null)"></app-pokemon-details-modal>
  </ng-container>

  <ng-template #loadingOrError>
    
    <p>Carregando ou Pokémon não encontrado...</p>
  </ng-template>
</ion-content>

