<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner> <p>Carregando Pokémons...</p>
  </div>

  <div class="pokedex-bg" *ngIf="!isLoading">
    <div class="pokedex-title">PokéDex BSN</div>
    <div class="pokedex-header">
      <input
        type="text"
        class="search-bar"
        placeholder="Pesquisar Pokémon..."
        [(ngModel)]="searchTerm"
        (input)="filterPokemons()" />
    </div>
    <div class="pokedex-main">
      <div class="card-navigation">
        <button class="arrow-btn" (click)="prevCard()" [disabled]="currentIndex === 0">&#9650;</button>
        <app-pokemon-card
          *ngIf="filteredPokemons.length"
          [pokemon]="filteredPokemons[currentIndex]"
          (cardClick)="goToDetails(filteredPokemons[currentIndex].name)"
          (favoriteToggled)="toggleFavorite(filteredPokemons[currentIndex])">
        </app-pokemon-card>
        <button class="arrow-btn" (click)="nextCard()" [disabled]="currentIndex === filteredPokemons.length - 1">&#9660;</button>
      </div>
      <app-pokedex-sidebar
        [pokemons]="filteredPokemons"
        [currentIndex]="currentIndex"
        (select)="selectCard($event)"
        (favoriteFilterToggled)="toggleFavoriteFilter()">
      </app-pokedex-sidebar>
    </div>
  </div>

  <app-pokemon-details-modal
    *ngIf="selectedPokemon"
    [pokemon]="selectedPokemon"
    (close)="closeDetails()">
  </app-pokemon-details-modal>
</ion-content>
