<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PokéDex BSN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PokéDex BSN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner> <p>Carregando Pokémons...</p>
  </div>

  <div class="pokedex-bg" *ngIf="!isLoading">
    <div class="pokedex-header">
      <h1>POKÉDEX</h1>
      <input
        type="text"
        class="search-bar"
        placeholder="Pesquisar Pokémon..."
        [(ngModel)]="searchTerm"
        (input)="filterPokemons()" />
    </div>
    <div class="pokedex-list single-card-list">
      <button class="arrow-btn" (click)="prevCard()" [disabled]="currentIndex === 0">&#9650;</button>
      <app-pokemon-card
        *ngIf="filteredPokemons.length"
        [pokemon]="filteredPokemons[currentIndex]"
        (cardClick)="goToDetails(filteredPokemons[currentIndex].name)">
      </app-pokemon-card>
      <button class="arrow-btn" (click)="nextCard()" [disabled]="currentIndex === filteredPokemons.length - 1">&#9660;</button>
    </div>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="offset === 0">Anterior</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()">Próximo</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

  <app-pokemon-details-modal
    *ngIf="selectedPokemon"
    [pokemon]="selectedPokemon"
    (close)="closeDetails()">
  </app-pokemon-details-modal>
</ion-content>
