<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PokéDex BSN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PokéDex BSN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner> <p>Carregando Pokémons...</p>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pokemon of pokemons">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="pokemon.imageUrl" alt="{{ pokemon.name }}" />
            <ion-button expand="block" fill="outline" color="primary" (click)="goToDetails(pokemon.name)">
              Ver Detalhes
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="prevPage()" [disabled]="offset === 0">Anterior</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()">Próximo</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
