<ion-card class="pokedex-card" (click)="onCardClick()">
  <button class="favorite-btn" (click)="toggleFavorite($event)">
    <svg width="24" height="24" viewBox="0 0 20 20">
      <circle cx="10" cy="10" r="9" fill="#fff" stroke="#222" stroke-width="2"/>
      <path d="M1 10h18" stroke="#222" stroke-width="2"/>
      <path d="M1 10a9 9 0 0 1 18 0" [attr.fill]="pokemon.favorite ? '#ffd700' : '#f44336'"/>
      <circle cx="10" cy="10" r="3" fill="#fff" stroke="#222" stroke-width="2"/>
      <circle cx="10" cy="10" r="1" fill="#222"/>
    </svg>
  </button>
  <div class="pokedex-header">
    <img [src]="pokemon.sprite" [alt]="pokemon.name" width="72" height="72" />
    <div class="pokedex-info">
      <div class="pokedex-id">No.{{ pokemon.id }}</div>
      <div class="pokedex-name">{{ pokemon.name | uppercase }}</div>
      <div *ngIf="pokemon.types">
        <span 
          class="poke-type" 
          *ngFor="let type of pokemon.types"
          [ngStyle]="{'background': typeColors[type]}">
          {{ type | uppercase }}
        </span>
      </div>
      <div *ngIf="pokemon.height">HT: {{ pokemon.height / 10 }} m</div>
      <div *ngIf="pokemon.weight">WT: {{ pokemon.weight / 10 }} kg</div>
    </div>
  </div>
</ion-card>