/* filepath: src/app/shared/components/pokemon-card/pokemon-card.component.scss */
.pokedex-card {
  background: #e0ffe0;
  border: 3px solid #3a5d3a;
  border-radius: 16px;
  font-family: 'Press Start 2P', monospace, monospace;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 8px #0002;
  position: relative;
  padding-top: 20px;

  &:hover {
    box-shadow: 0 4px 16px #0004;
    background: #d0ffd0;
  }
}

.pokedex-header {
  display: flex;
  align-items: center;
  padding: 8px;
}

.pokedex-info {
  margin-left: 12px;
  min-width: 120px;
}

.pokedex-info > * {
  margin-bottom: 6px;
  display: block;
}

.pokedex-id {
  font-size: 0.8em;
  color: #3a5d3a;
}

.pokedex-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #222;
  letter-spacing: 1px;
}

.poke-type {
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  padding: 2px 8px;
  margin-right: 4px;
  font-size: 0.7em;
  margin-top: 4px;
  box-shadow: 0 1px 2px #0003;
  margin-bottom: 0; // Para não aumentar o espaço entre tipos
}

.favorite-btn {
  background: none;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 2em;
  z-index: 2;
  top: 8px;
}